# Ignore cx directory
cx/

# Ignore performance images
performance/images/

# Maven
target/

# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
mme/target/classes/com/example/NovaImageEmbeddingDemo.class
mme/target/classes/com/example/NovaTextEmbeddingDemo.class
mme/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
mme/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
